<nav>
    <ul>
        <li><a routerLink="/teachercrud/teacherlist" routerLinkActive = "active" Highlight>Teacher List</a></li>
        <br>
        <br>
        <li><a routerLink="/teachercrud/teacheradd" routerLinkActive = "active" Highlight>Add Teacher</a></li>
        <br>
        <br>
        <li><a routerLink="/teachercrud/teacherupdate" routerLinkActive = "active" Highlight>Update Teacher</a></li>
        <br>
        <br>
        <li><a routerLink="/teachercrud/teacherdelete" routerLinkActive = "active" Highlight>Delete Teacher</a></li>
        <br>
        <br>
    </ul>

</nav>  
<router-outlet></router-outlet>