
<div>
    <div *ngIf="teacherCourses; else Loading">
        <table>
            <tr>
                <th>Course Name</th>
                <th>Credits</th>
                <th>Type</th>
                <th>Status</th>
                <th>Details</th>
            </tr>
            <tr *ngFor="let c of teacherCourses">
                <td>{{c.course.courseName}}</td>
                <td>{{c.course.credits}}</td>
                <td>{{c.course.courseType}}</td>
                <td>{{c.course.courseStatus}}</td>
                <td><a  class="btn btn-danger" routerLink = "../../StudentInTheCourse/{{c.taughtById}}">Details </a></td>
            </tr>
        </table>
    </div>

</div>

<ng-template #Loading>
<h1>..loading</h1>
</ng-template>