ul {
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
        align-items: center;
        display: inline;
        border: 2px solid black;
        font-size: 25px;
        background-color: cornsilk;
        font-family:cursive;
        font-size: 25px; 
  }
  a{
      margin :25px;
  }