<div *ngIf = "marks; else add">
<form [formGroup]="updateForm" (ngSubmit)="onSubmitUpdate(updateForm.value)">

    <label>Review 1 :</label>
    <input type="number" required placeholder="Review - 1" formControlName = "review1" >
    <br>
    <p style="color: red;" *ngIf="updateForm.controls.review1.errors?.review1">Marks must be greater than 0 and less than or equal to 20</p>
    <br>

    <label>Review 2 :</label>
    <input type="number" required placeholder="Review - 2" formControlName = "review2">
    <br>
    <br>
    <p style="color: red;" *ngIf="updateForm.controls.review2.errors?.review2">Marks must be greater than 0 and less than or equal to 30</p>
    <br>

    <label>Review 3 :</label>
    <input type="number" required placeholder="Review - 3" formControlName = "review3">
    <br>
    <br>
    <p style="color: red;" *ngIf="updateForm.controls.review3.errors?.review3">Marks must be greater than 0 and less than or equal to 50</p>
    <br>

    
    <input type="submit"[disabled] = "updateForm.invalid" value = "Update">
    
</form>
</div>

<ng-template #add>
    <form [formGroup]="addForm" (ngSubmit)="onSubmitAdd(addForm.value)">

        <label>Review 1 :</label>
        <input type="number" required placeholder="Review - 1" formControlName = "review1">
        <br>
        <p style="color: red;" *ngIf="updateForm.controls.review1.errors?.review1">Marks must be greater than 0 and less than or equal to 20</p>
        <br>
        <br>
    
        <label>Review 2 :</label>
        <input type="number" required placeholder="Review - 2" formControlName = "review2">
        <br>
        <p style="color: red;" *ngIf="updateForm.controls.review2.errors?.review2">Marks must be greater than 0 and less than or equal to 30</p>
        <br>
        <br>
    
        <label>Review 3 :</label>
        <input type="number" required placeholder="Review - 3" formControlName = "review3">
        <br>
        <p style="color: red;" *ngIf="updateForm.controls.review3.errors?.review3">Marks must be greater than 0 and less than or equal to 50</p>
        <br>
        <br>

        <input type="submit" value = "Add">
    </form>
</ng-template>