@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,800,900&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins',sans-serif;
}
.navbar{
	position: fixed;
	top: 0;
	z-index: 99999;
	padding:25px 0;
    background-color: black;
}
.navbar .logo{
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: 750;
	letter-spacing: 2px;
}
.navbar ul.nav{
	margin-right: 15%;
    
}
.navbar ul.nav li.active,
.navbar ul.nav li:hover{
	background:rgba(255, 255, 255, 0.5);
	color: #000;

}
.navbar ul.nav li a{
	color: #fff;
	font-size: 1em;
	font-weight: 500;
}
.navbar ul.nav li.active a,
.navbar ul.nav li:hover a{
	color: #000;
}

/*slider*/
#carouselExampleIndicators{
	position: relative;
	height: 100vh;
	width: 100%;
}
#carouselExampleIndicators .carousel-inner{
	position: relative;
	height: 100%;
	width: 100%;
	background: #000;
}
#carouselExampleIndicators .carousel-inner:before{
	position: absolute;
	content: '';
	background: rgba(0, 0, 0, 0.45);
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
}
#carouselExampleIndicators .carousel-inner .carousel-item{
	position: relative;
	height: 100%;
	width:100%;
	background: url('https://schoolbook.getmyuni.com/assets/images/rev_img/54161__27881/1513585299faa.jpg');
	background-size: 100% 100%;
	background-position: center;
	background-attachment: fixed;
}
#carouselExampleIndicators .carousel-inner .carousel-item:nth-child(2){
	background: url('https://qph.fs.quoracdn.net/main-qimg-bb161eba1b867eb5781cbd7b5d21dea9');
	background-size: 100% 100%;
	background-position: center;
	background-attachment: fixed;
}
#carouselExampleIndicators .carousel-inner .carousel-item:nth-child(3){
	background: url('https://i.ytimg.com/vi/IcK3uck76J0/maxresdefault.jpg');
	background-size: 100% 100%;
	background-position: center;
	background-attachment: fixed;
}

#carouselExampleIndicators .carousel-inner .carousel-item .info{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	height: auto;
	width: 100%;
	z-index: 1;
	text-align: center;
}
#carouselExampleIndicators .carousel-inner .carousel-item h1{
	height: auto;
	color: #fff;
	width: 100%;
	z-index: 1;
	text-align: center;
	font-size: 5.5em;
	font-weight: 750;
}
#carouselExampleIndicators .carousel-inner .carousel-item p{
	height: auto;
	color: #ccc;
	width: 100%;
	z-index: 1;
	text-align: center;
	font-size: 1.2em;
	font-weight: 500;
}

#Contact{
    background-color: #dbe5e6;
    padding: 30px 0px;
    margin: auto;
    
    
}

#About{
    background-color: #dbe5e6;
    padding: 30px 0px;
    margin: auto;
    
}

#Contact h1{
    font-size: 70px;
}

.card-body{
    box-shadow: 0 0 20px 7px rgba(0,0,0,0.1);
}

.card{
    margin: 10px 10px 10px 10px;
    border: 1px solid black;
}

.card-body h5{
    text-decoration: none;
    font-size: 25px;
    margin-top: auto;
    font-weight: 600;
    color: black;
    text-align: center;
    border: 1px solid black;

}

.card-body p{
    text-decoration: none;
    font-size: 20px;
    margin-top: auto;
    font-weight: 200;
    color: black;
    text-align: center;
    

}
.card-body a{
    float: right;
    color: #0c7f90;
    text-decoration: none;
    font-size: 15px;
    margin-top: auto;
    font-weight: 600;
    color: white;
}
.card-body a:hover{
    color: #63a6b0;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}



