<h1>Register Student</h1>

<form [formGroup]="studentIdForm" (ngSubmit)="onSubmitId(studentIdForm.value)">
    <input class="mx-1" placeholder="Student Id" required type="number" formControlName="studentId">
    <input class="btn btn-secondary" value="Search" type="submit">
</form>

<div *ngIf="student; else select">
    <hr>
    <h5>Name:{{student.name}}<br></h5>
    Register number:{{student.registerNumber}}<br>
    Email Id: {{student.emailid}}<br>
    <br>
    <hr>
    <nav>
        <a class="btn btn-dark" routerLink="list/{{sid}}" (click)="refresh()">List</a>|
        <a class="btn btn-dark" routerLink="enroll/{{sid}}" (click)="refresh()">Enroll</a>       
    </nav>

</div>
<ng-template #select>
    <h1>Select valid student id</h1>
</ng-template>
<br>
<br>
<div *ngIf="show">
    <router-outlet></router-outlet>
</div>
